PRIVATE_KEY= # Private key for EVM MOROFT contract owner/delegate
SOLANA_PRIVATE_KEY=
RPC_URL_SOLANA=
RPC_URL_SOLANA_TESTNET=
MOROFT_ID= # Will be generated automatically
TOKEN_NAME=
TOKEN_SYMBOL=
TOKEN_URI= # Metadata
SOLANA_EID=40168
EVM_EID=40231
KEYPAIR_PATH=
